@model IEnumerable<eManager.Domain.Department>

@{
    ViewBag.Title = "All Department";
}
<h1>@ViewBag.Title</h1>

<ul>
    @foreach (var department in Model)
    {
        //<li>@department.Name</li>
      <li>@Html.ActionLink(@department.Name,"detail","department",new { @department.Id},null)</li>  
    }
</ul>